#content-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#map {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 12px; /*둥글게 만드는 부분ㄴ*/
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.sidebar-wrapper {

    width: clamp(180px, 25vw, 360px);
    background-color: #007bff;
    align-items: center;
    gap: 15px;
}

@media (max-width: 480px) {
    .sidebar-wrapper {
        width: 25vw;
        height: auto;
        background-color: #007bff;
    }

    .result-box {
        width: 90% !important;
        font-size: 0.3rem !important;
        margin: 10px auto;
    }

    .sidebar-brand-text {
        font-size: 1.2rem !important;
        white-space: nowrap;
    }

}
.sidebar-brand-text {
    display: block !important;
    font-size: clamp(1.2rem, 1.2vw, 2.4rem);
}


.random-button {
    display: block; /*버튼이 linline상태였어서 margin이 안 먹혀 가운데 정렬이 안되서 한줄 전체를 쓰게 만듬*/
    margin: 20px auto 20px auto; /*위 오른 아래 왼 순서*/
    width: 90%;
    font-size: clamp(0.5rem, 1vw, 1.0rem);
    padding: clamp(0.6rem, 0.8vw, 1.0rem);
    background: #fff;
    color: #1a1a1a;
    border: 2px solid #1a73e8;
    border-radius: 12px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.random-button:hover {
    background: #1a73e8;
    color: #fff;
    transform: translateY(-2px);
}

.result-box {
    width: 95%;
    margin: 15px auto;
    background: #ffffff;
    text-align: left;
    padding: clamp(0.6rem, 0.8vw, 1.3rem);
    border-radius: 12px;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.4;
    color: #1a1a1a;
    white-space: preserve-breaks
}

.result-box:empty {
    display: none;
}


