<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{map/layout/layout}">
<th:block layout:fragment="content">
    <div class="random-page">
        <div class="container-fluid p-0 d-flex justify-content-center map-container">
            <div id="map"></div>
            <div class="random-overlay">
                <button type="button" onclick="areaLandom()" class="random-button">랜덤 뽑기</button>
                <div id="result-box" class="result-box"></div>
            </div>
        </div>
    </div>
</th:block>
</html>
